{% extends 'base.html' %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}
<div class = "container">
    <section class="mt-5 wow fadeIn">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <img src="{{product.image.url}}" class="img-fluid z-depth-1-half" alt="">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!-- Main heading -->
          <h3 class="h3 mb-3">Material Design for Bootstrap</h3>
          <p>{{product.description}}</p>
          <div style="text-align: center;">
          <p>${{product.price}}&nbsp;{{product.money}}</p>
          </div>
          <div class = "text-center" style="position: absolute;bottom: 0;left: 0;right: 0;padding-bottom: 10%;">
            <button type="button" class="btn btn-outline-secondary" style = "border: 3px solid rgb(97, 97, 97);font-weight: 300px;font-family: 'Merriweather', serif;font-family: 'Roboto', sans-serif;color: 97, 97, 97;position: absolute;bottom: 10px;left: 0;right: 0;">Add</button>
          </div> 
          <!-- Main heading -->
        </div>  
      </div>
    </section>   
  </div>
{% endblock %}