{% extends 'base.html' %}
{% block title%}Categories{% endblock %}
{% block body %}
  <br>
  <br>
  <div class = "container jumbotron">
    <div class = "text-center">
      <h2 style = "font-size: 300%;">Categories</h2>
      <br>
      <button type="button" class="btn btn-success" onclick = location.href="{% url 'create_category' %}"><i class="bi bi-plus-lg"></i></button>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
        {% for category in categories %}
          <tr>
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td>{{category.status}}</td>
            <td><button type="button" class="btn btn-secondary"  onclick = location.href="{% url 'update_category' category.id %}"><i class="bi bi-pen-fill"></i></button></td>
            <td><button type="button" class="btn btn-danger" onclick = location.href="{% url 'delete_category' category.id %}"><i class="bi bi-trash-fill"></i></button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}